html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

td {
	vertical-align: top;
}

#content {
	width: 1000px;
	display: flex;
}

#left-nav {
    width: 270px;
}

#right-content {
	width: 730px;
}
